<a href="https://colab.research.google.com/github/Kiarro21/SQL_P2/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Выдать для каждой поставляемой детали ее номер и общий объем
поставок, за исключением поставок поставщика 'S1'.

In [ ]:
Select номер_детали, sum(количество)
from SP
where номер_поставщика <> 'S1'
group by номер_детали

2. Выдать номера деталей, поставляемых более чем одним поставщиком.

In [ ]:
Select номер_детали
from SP
group by номер_детали
having count(*) > 1

3. Выдать информацию обо всех возможных парах поставщик - деталь.

In [ ]:
Select S.*, P.*
from S
Cross Join  P

4. Выдать все комбинации информации о поставщиках и деталях,
расположенных в одном городе.

In [ ]:
Select S.номер_поставщика, p.номер_детали, рейтинг
from S
Cross Join  P    
where  S.город=P.город

5. Выдать все комбинации информации о поставщиках и деталях,
расположенных в одном городе, опустив поставщиков с рейтингом = 20.

In [ ]:
Select S.номер_поставщика, p.номер_детали, рейтинг
from S
Cross Join  P    
where  S.город = P.город  and S.рейтинг <> 20

6. Выдать все пары поставщиков из одного города.

In [ ]:
Select one.номер_поставщика, two.номер_поставщика
from S one
Cross Join  S two 
where  one.город = two.город  and one.номер_поставщика < two.номер_поставщика

7. Выдать для каждой поставки номер поставщика, его фамилию и
количество деталей.

In [ ]:
Select S.номер_поставщика, S.фамилия, SP.количество
from SP
inner join S on S.номер_поставщика=SP.номер_поставщика

или

In [ ]:
Select S.номер_поставщика, S.фамилия, SP.количество
from SP
natural inner join S

8. Выдать все пары названий городов таких, что какой-либо поставщик,
находящийся в первом из этих городов, поставляет деталь, хранимую в
другом городе.

In [ ]:
Select distinct S.город, P.город
from SP
inner join  S   on  S.номер_поставщика = SP.номер_поставщика
inner join  P   on  P.номер_детали = SP.номер_детали

9. Получить перечень поставщиков, рейтинг которых выше рейтинга любого
лондонского поставщика.

In [ ]:
Select x.номер_поставщика, x.фамилия, x.рейтинг
from S x
where x.рейтинг > all
(select y.рейтинг
from S y
where y.город='Лондон')

10.Получить перечень поставщиков, рейтинг которых выше рейтинга хотя
бы одного парижского поставщика.

In [ ]:
Select x.номер_поставщика, x.фамилия, x.рейтинг
from S x
where x.рейтинг > any
(select y.рейтинг
from S y
where y.город='Париж')

11.Выдать фамилии поставщиков, поставляющих деталь P2.

In [ ]:
Select фамилия
from S
where номер_поставщика in
(Select номер_поставщика
from SP
where номер_детали ='P2')

12.Выдать фамилии поставщиков, поставляющих по крайней мере одну
красную деталь.

In [ ]:
Select фамилия
from S
where номер_поставщика in (Select номер_поставщика
from SP
where номер_детали in (select номер_детали
from P
where цвет='Красный'))

13.Выдать номера поставщиков, поставляющих, по крайней мере, одну
деталь, поставляемую поставщиком S2.

In [ ]:
Select distinct номер_поставщика
from SP spx
where spx.номер_детали in
(Select spy.номер_детали
from SP spy
where spy.номер_поставщика='S2')

14.Выдать номера поставщиков, находящихся в том же городе, что и
поставщик S1.

In [ ]:
Select номер_поставщика
from S
where город = (Select город
from S
where номер_поставщика ='S1')

15.Выдать номера деталей, поставляемых более чем одним поставщиком.

In [ ]:
Select номер_детали
from SP
group by номер_детали
having count(*) > 1

16.Выдать фамилии поставщиков, которые поставляют все детали.

In [ ]:
Select фамилия
from S
where not exists
(Select * from P
where not exists
(Select * from SP
where номер_поставщика=S.номер_поставщика
and номер_детали=P.номер_детали))

17.Выдать номера поставщиков со значением поля рейтинг меньшим, чем
максимальный рейтинг в таблице S.

In [ ]:
Select номер_поставщика from S
where рейтинг < (Select max(рейтинг) from S)

18.Выдать номера деталей, которые имеют вес более 16 фунтов, либо
поставляются поставщиком S2.

In [ ]:
Select номер_детали
from P
where вес>16
union
Select номер_детали
from SP
where номер_поставщика='S2'